---
import { getCollection } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";
import Post from "@lib/Post.astro";

async function get_posts() {
	const blog_posts = await getCollection("blog", ({ data }) => {
		return data.draft !== true;
	});

	const sorted_posts = blog_posts.sort(
		(a, b) => b.data.date_pub.getTime() - a.data.date_pub.getTime()
	);

	return sorted_posts;
}
const blog_posts = await get_posts();
---

<BaseLayout title="Blog">
	<main>
		<h2 class="my-16 text-center text-3xl font-bold">Archive</h2>
		<section>
			{
				blog_posts.map((post) => (
					<a
						href={`/blog/${post.slug}`}
						class="prose prose-zinc mx-auto mb-4 block border border-zinc-900 bg-stone-50 p-4 shadow shadow-stone-300 transition hover:-translate-x-1 hover:-translate-y-2 hover:shadow-[10px_10px_0px_0px] hover:shadow-black focus:-translate-x-1 focus:-translate-y-2 focus:shadow-[10px_10px_0px_0px] focus:shadow-black dark:border-stone-50 dark:bg-zinc-900 dark:shadow-zinc-700 dark:hover:shadow-stone-300 dark:focus:shadow-stone-300"
					>
						<Post
							slug={post.slug}
							title={post.data.title}
							description={post.data.description}
							date_pub={post.data.date_pub}
						/>
					</a>
				))
			}
		</section>
	</main>
</BaseLayout>
