---
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import NowCategory from "@lib/NowCategory.astro";

async function get_entries() {
	const entries = await getCollection("now");
	entries.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
	return entries;
}

function format_date(date) {
	return date.toLocaleDateString("en-US", {
		month: "long",
		day: "2-digit",
		year: "numeric",
	});
}

function format_date_attr(date) {
	return date.toISOString().split("T")[0];
}

const entries = await get_entries();

const last_updated = entries[0]?.data.date ?? new Date();

const listening = entries.filter((e) => e.data.category === "listening");
const watching = entries.filter((e) => e.data.category === "watching");
const reading = entries.filter((e) => e.data.category === "reading");
const playing = entries.filter((e) => e.data.category === "playing");
---

<BaseLayout title="Now" description="Figure out what I'm currently doing!">
	<style>
		details > summary {
			cursor: pointer;
			list-style: none;
		}

		details > summary::before {
			content: "▶";
			margin-right: 0.5rem;
			transition: transform 100ms ease-in-out;
			display: inline-block;
		}

		details[open] > summary::before {
			transform: rotate(90deg);
		}
	</style>

	<script is:inline>
		document.querySelectorAll("details").forEach((details) => {
			const summary = details.querySelector("summary");
			if (summary) {
				summary.setAttribute(
					"aria-expanded",
					details.hasAttribute("open") ? "true" : "false",
				);
				details.addEventListener("toggle", () => {
					summary.setAttribute(
						"aria-expanded",
						details.hasAttribute("open") ? "true" : "false",
					);
				});
			}
		});
	</script>

	<main id="main-content">
		<h1 class="my-16 text-center text-3xl font-bold">Now</h1>
		<p class="-mt-12 text-center text-sm text-stone-500 dark:text-stone-400">
			Last updated:
			<time datetime={format_date_attr(last_updated)}>
				{format_date(last_updated)}
			</time>
		</p>

		<span
			class="prose-a:underline prose-a:transition hover:prose-a:text-accent focus:prose-a:text-accent active:prose-a:text-accent prose-a:hover:prose-headings:text-accent"
		>
			<NowCategory title="Listening" icon="tabler:headphones-filled" entries={listening} />
			<NowCategory title="Watching" icon="tabler:device-tv-old" entries={watching} />
			<NowCategory title="Reading" icon="tabler:book-filled" entries={reading} />
			<NowCategory title="Playing" icon="tabler:device-gamepad-3-filled" entries={playing} />
		</span>
	</main>
</BaseLayout>
