---
import Nav from "@components/Nav.astro"
import Footer from "@components/Footer.astro"
import SEO from "simple-astro-seo"
import VercelAnalytics from "@components/VercelAnalytics.astro"
import "@styles/global.css"
import "@styles/components.css"

const { title, description, image, type } = Astro.props
---

<!DOCTYPE html>
<html lang="en" data-theme="winter">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{`${title} - cocotier.ro`}</title>

		<SEO
			siteName="cocotier.ro"
			title={`${title} - cocotier.ro`}
			description={description}
			image={image}
			url={Astro.url.href}
			type={type}
		/>

		<VercelAnalytics />
	</head>

	<body>
		<Nav />
		<main class="px-10 sm:px-28 my-8">
			<slot />
		</main>
		<Footer />
	</body>
</html>
